<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Data/error.css">
    <title>Error Page</title>
</head>

<body>
    <div>
        <h1>Oops! Something went wrong.</h1>
        <p>We're sorry, but an error has occurred. Please try again.</p>
        <div class="gif-container">
            <img src="../Data/404_1.gif" alt="Error GIF" class="error-gif">
        </div>
    </div>
</body>

</html>