body{
    margin: 0;
}
.login-section {
    max-width: 400px;
    margin: 2rem auto;
    padding:20px;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-section h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
}

.login-section .form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.login-section label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.login-section input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.login-section input:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-section .btn-primary {
    display: inline-block;
    margin-top: 1rem;
    background: #4CAF50;
    color: white;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: background 0.3s;
    cursor: pointer;
    border: none;
}

.login-section .btn-primary:hover {
    background: #45a049;
}

.login-section p {
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
}

.login-section a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.login-section a:hover {
    color: #45a049;
}
